---
http_interactions:
- request:
    method: get
    uri: http://economictimes.feedsportal.com/c/33041/f/534040/index.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '1337002950000'
      Last-Modified:
      - Mon, 14 May 2012 13:42:30 GMT
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version='1.0' encoding='UTF-8'?><?xml-stylesheet type='text/xsl'
        href='http://economictimes.feedsportal.com/xsl/eng/rss.xsl'?>\r\n<rss xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:taxo=\"http://purl.org/rss/1.0/modules/taxonomy/\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\"><channel><atom:link href=\"http://economictimes.indiatimes.com/rssfeeds/14655708.cms\"
        rel=\"self\" type=\"application/rss+xml\" /><title>IPOs/FPOs/Rights issues-Markets-The
        Economic Times</title><link>http://economictimes.indiatimes.com</link><description>News
        of India company IPOs, IPO listings, IPO Allotment, FPO, Offer Document, FPOs,
        Red Herring Prospectus, IPO Subscription, IPO Analysis, IPOs, Rights issues,
        Lead Manager, IPO rating, IPO issue open and close dates and Sebi on IPOs.</description><language>en-gb</language><copyright>Copyright:(C)Tue
        12 Jun 2012, 13:50:492012Tue 12 Jun 2012, 13:50:512012 Bennett Coleman &amp;
        Co. Ltd, http://info.indiatimes.com/terms/tou.html</copyright><pubDate>Tue,
        12 Jun 2012 08:20:49 GMT</pubDate><lastBuildDate>Tue, 12 Jun 2012 08:20:49
        GMT</lastBuildDate><ttl>2</ttl><image><title>IPOs/FPOs/Rights issues-Markets-The
        Economic Times</title><url>http://images.photogallery.indiatimes.com/photo.cms?msid=86986</url><link>http://economictimes.indiatimes.com</link></image><item><title>Speciality
        Restaurants fixes IPO price band at Rs 146-155</title><link>http://economictimes.feedsportal.com/fy/8av2EvY0ZbXKa2NA/story01.htm</link><description>Fine
        dine operator Speciality Restaurants fixed the price band at Rs 146-155 for
        its initial public offering (IPO), which aims to garner Rs 182 crore.&lt;img
        width='1' height='1' src='http://economictimes.feedsportal.com/c/33041/f/534040/s/1f5bec88/mf.gif'
        border='0'/&gt;&lt;div class='mf-vira[...]
